# Node/JS
node_modules/
dist/
build/
.cache/
.next/
out/
.vite/
.storybook/
coverage/
*.log
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Env & secrets
.env
.env.*
*.env

# OS/IDE
.DS_Store
.vscode/
.idea/
